#Aula 04

##Pandas

OpenSource para análise de dados

In [1]:
import pandas as pd
import numpy as np

###Criando uma Série

In [5]:
cientistas = pd.Series(['albert_eisten', 'ada_lovelace', ' stephen_hawking',  'alan_turing'])

In [6]:
cientistas

0       albert_eisten
1        ada_lovelace
2     stephen_hawking
3         alan_turing
dtype: object

In [8]:
cientistas.dtype

dtype('O')

In [12]:
cientistas_2 = pd.Series(['fisica', 'computacao', 'fisica', 'computacao'], index = (['albert_eisten', 'ada_lovelace', 'stephen_hawking',  'alan_turing']))

In [13]:
cientistas_2

albert_eisten          fisica
ada_lovelace       computacao
stephen_hawking        fisica
alan_turing        computacao
dtype: object

In [14]:
cientistas_2['ada_lovelace']

'computacao'

#DataFrame

##Criando DataFrames:

In [17]:
df_1 = {
    'coluna_1' : ['reg_1', 'reg_2', 'reg_3', 'reg_4', 'reg_5'],
    'coluna_2' : [1, 2, 3, 4, 5],
    'coluna_3' : ['a', 2, 'b', 7, 9]
}

In [19]:
df_1 = pd.DataFrame(df_1)

In [20]:
df_1

  coluna_1  coluna_2 coluna_3
0    reg_1         1        a
1    reg_2         2        2
2    reg_3         3        b
3    reg_4         4        7
4    reg_5         5        9

##Criando DataFrames vazios:

In [22]:
df_vazio = pd.DataFrame({'coluna_1':[]})

In [23]:
df_vazio

Empty DataFrame
Columns: [coluna_1]
Index: []

###Criando um DataFrame com NANs:

In [25]:
df_nan = pd.DataFrame({'coluna_1': [np.nan]})

In [26]:
df_nan

   coluna_1
0       NaN

In [28]:
#cópias separadas por vírgula, csv
df = pd.read_csv('/content/IMDB Top 250 Movies.csv')

In [29]:
df

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [30]:
#pra ver os últimos, funciona igual o head
df.tail()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [34]:
#Gera um registro aleatório
df.sample()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
134,135,Casino,1995,8.2,"Crime,Drama",R,2h 58m,You don't stay at the top forever,52000000,116112375,"Robert De Niro,Sharon Stone,Joe Pesci,James Wo...",Martin Scorsese,"Nicholas Pileggi,Martin Scorsese"

###Informações básicas que o DataFrame pode dar:

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         250 non-null    int64
 1   name         250 non-null    object
 2   year         250 non-null    int64
 3   rating       250 non-null    float64
 4   genre        250 non-null    object
 5   certificate  250 non-null    object
 6   run_time     250 non-null    object
 7   tagline      250 non-null    object
 8   budget       250 non-null    object
 9   box_office   250 non-null    object
 10  casts        250 non-null    object
 11  directors    250 non-null    object
 12  writers      250 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 25.5+ KB

In [37]:
df.columns

Index(['rank', 'name', 'year', 'rating', 'genre', 'certificate', 'run_time',
       'tagline', 'budget', 'box_office', 'casts', 'directors', 'writers'],
      dtype='object')

In [38]:
df.shape

(250, 13)

In [39]:
df.count()

rank           250
name           250
year           250
rating         250
genre          250
certificate    250
run_time       250
tagline        250
budget         250
box_office     250
casts          250
directors      250
writers        250
dtype: int64

In [40]:
len(df)

250

###Resumos do DataFrame:

In [41]:
df.describe()

             rank         year      rating
count  250.000000   250.000000  250.000000
mean   125.500000  1986.360000    8.307200
std     72.312977    25.125356    0.229081
min      1.000000  1921.000000    8.000000
25%     63.250000  1966.250000    8.100000
50%    125.500000  1994.000000    8.200000
75%    187.750000  2006.000000    8.400000
max    250.000000  2022.000000    9.300000

In [44]:
#cumsum é somar, ele concatena string e soma os valores das linhas 1 e m
df.cumsum().head(2)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,3,The Shawshank RedemptionThe Godfather,3966,18.5,"DramaCrime,Drama",RR,2h 22m2h 55m,Fear can hold you prisoner. Hope can set you f...,250000006000000,28884504250341816,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank DarabontFrancis Ford Coppola,"Stephen King,Frank DarabontMario Puzo,Francis ..."

In [48]:
df.mean()

<ipython-input-48-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

rank       125.5000
year      1986.3600
rating       8.3072
dtype: float64

In [49]:
#Retorna a mediana
df.median()

<ipython-input-49-8faea13054f8>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

rank       125.5
year      1994.0
rating       8.2
dtype: float64

###Ordenação:

In [51]:
#ordenou a tabela por ano, e deu um head 3 pra aparecer só os três primeiros
df.sort_values(by = 'year').head(3)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
127,128,The Kid,1921,8.3,"Comedy,Drama,Family",Passed,1h 8m,This is the great film he has been working on ...,250000,41960,"Charles Chaplin,Edna Purviance,Jackie Coogan,C...",Charles Chaplin,Charles Chaplin
194,195,Sherlock Jr.,1924,8.2,"Action,Comedy,Romance",Passed,45m,every inch of footage holds such a laugh!,Not Available,Not Available,"Buster Keaton,Kathryn McGuire,Joe Keaton,Erwin...",Buster Keaton,"Jean C. Havez,Joseph A. Mitchell,Clyde Bruckman"
176,177,The Gold Rush,1925,8.1,"Adventure,Comedy,Drama",Passed,1h 35m,"""The Picture I Want to Be Remembered by."" -Cha...",923000,29328,"Charles Chaplin,Mack Swain,Tom Murray,Henry Be...",Charles Chaplin,Charles Chaplin

In [54]:
#Dá o mais recente agora, da lista ordenada por anos
df.sort_values(by = 'year', ascending = False).head(3)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
105,106,Top Gun: Maverick,2022,8.3,"Action,Drama",PG-13,2h 10m,Feel the need... The need for speed.,170000000,1488732821,"Tom Cruise,Jennifer Connelly,Miles Teller,Val ...",Joseph Kosinski,"Jim Cash,Jack Epps Jr.,Peter Craig"
149,150,Spider-Man: No Way Home,2021,8.2,"Action,Adventure,Fantasy",PG-13,2h 28m,The Multiverse Unleashed.,200000000,1921847111,"Tom Holland,Zendaya,Benedict Cumberbatch,Jacob...",Jon Watts,"Chris McKenna,Erik Sommers,Stan Lee"
233,234,Jai Bhim,2021,8.8,"Crime,Drama,Mystery",TV-MA,2h 44m,imeDramaMystery,Not Available,Not Available,"Suriya,Lijo Mol Jose,Manikandan K.,Rajisha Vij...",T.J. Gnanavel,"T.J. Gnanavel,Rajendra Sapre"

###Renomeação:

In [58]:
df.rename(columns={'name':'nome'}, inplace = True)

In [59]:
df.head(2)

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"

###Redimensionalização:

In [62]:
#Remodela a tabela com apenas as colunas dos nomes listados
df_res_1 = df[['rank', 'nome', 'year']]

In [63]:
df_res_1.head(2)

   rank                      nome  year
0     1  The Shawshank Redemption  1994
1     2             The Godfather  1972

In [66]:
#Amostra aleatória da base
df_res_2 = df.sample(50)

In [67]:
df_res_2.head(2)

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
149,150,Spider-Man: No Way Home,2021,8.2,"Action,Adventure,Fantasy",PG-13,2h 28m,The Multiverse Unleashed.,200000000,1921847111,"Tom Holland,Zendaya,Benedict Cumberbatch,Jacob...",Jon Watts,"Chris McKenna,Erik Sommers,Stan Lee"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"

###Transposição/Pivoteamento:

In [70]:
#linhas viram colunas
df_res_1.T

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
rank,1,2,3,4,5,6,7,8,9,10,...,241,242,243,244,245,246,247,248,249,250
nome,The Shawshank Redemption,The Godfather,The Dark Knight,The Godfather Part II,12 Angry Men,Schindler's List,The Lord of the Rings: The Return of the King,Pulp Fiction,The Lord of the Rings: The Fellowship of the Ring,"The Good, the Bad and the Ugly",...,The Sound of Music,It Happened One Night,Persona,Life of Brian,The Iron Giant,The Help,Dersu Uzala,Aladdin,Gandhi,Dances with Wolves
year,1994,1972,2008,1974,1957,1993,2003,1994,2001,1966,...,1965,1934,1966,1979,1999,2011,1975,1992,1982,1990

In [73]:
df_res_1.set_index('rank').T

rank,1,2,3,4,5,6,7,8,9,10,...,241,242,243,244,245,246,247,248,249,250
nome,The Shawshank Redemption,The Godfather,The Dark Knight,The Godfather Part II,12 Angry Men,Schindler's List,The Lord of the Rings: The Return of the King,Pulp Fiction,The Lord of the Rings: The Fellowship of the Ring,"The Good, the Bad and the Ugly",...,The Sound of Music,It Happened One Night,Persona,Life of Brian,The Iron Giant,The Help,Dersu Uzala,Aladdin,Gandhi,Dances with Wolves
year,1994,1972,2008,1974,1957,1993,2003,1994,2001,1966,...,1965,1934,1966,1979,1999,2011,1975,1992,1982,1990

In [74]:
df_melt = df[['directors', 'nome', 'rank', 'genre']]

In [78]:
#Ordenei pelo rank
df_melt.sort_values(by = 'directors').sort_values('rank')

,directors,nome,rank,genre
0,Frank Darabont,The Shawshank Redemption,1,Drama
1,Francis Ford Coppola,The Godfather,2,"Crime,Drama"
2,Christopher Nolan,The Dark Knight,3,"Action,Crime,Drama"
3,Francis Ford Coppola,The Godfather Part II,4,"Crime,Drama"
4,Sidney Lumet,12 Angry Men,5,"Crime,Drama"
...,...,...,...,...
245,Tate Taylor,The Help,246,Drama
246,Akira Kurosawa,Dersu Uzala,247,"Adventure,Biography,Drama"
247,"Ron Clements,John Musker",Aladdin,248,"Animation,Adventure,Comedy"
248,Richard Attenborough,Gandhi,249,"Biography,Drama,History"
249,Kevin Costner,Dances with Wolves,250,"Adventure,Drama,Western"

In [80]:
pd.melt(df_melt, id_vars= ['directors', 'rank'], value_vars=['genre']).sort_values(by = 'rank')

                    directors  rank variable                       value
0              Frank Darabont     1    genre                       Drama
1        Francis Ford Coppola     2    genre                 Crime,Drama
2           Christopher Nolan     3    genre          Action,Crime,Drama
3        Francis Ford Coppola     4    genre                 Crime,Drama
4                Sidney Lumet     5    genre                 Crime,Drama
..                        ...   ...      ...                         ...
245               Tate Taylor   246    genre                       Drama
246            Akira Kurosawa   247    genre   Adventure,Biography,Drama
247  Ron Clements,John Musker   248    genre  Animation,Adventure,Comedy
248      Richard Attenborough   249    genre     Biography,Drama,History
249             Kevin Costner   250    genre     Adventure,Drama,Western

[250 rows x 4 columns]

In [82]:
pd.melt(df_melt, id_vars= ['directors'], value_vars=['genre', 'rank']).sort_values(by = 'directors').head(2)

                              directors variable         value
121  Aamir Khan,Amole Gupte(uncredited)    genre  Drama,Family
371  Aamir Khan,Amole Gupte(uncredited)     rank           122

#Seleção:

##Filtro

In [83]:
  df[df['directors']=='Steven Spielberg']

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
5,6,Schindler's List,1993,9.0,"Biography,Drama,History",R,3h 15m,"Whoever saves one life, saves the world entire.",22000000,322161245,"Liam Neeson,Ralph Fiennes,Ben Kingsley,Carolin...",Steven Spielberg,"Thomas Keneally,Steven Zaillian"
23,24,Saving Private Ryan,1998,8.6,"Drama,War",R,2h 49m,In the Last Great Invasion of the Last Great W...,70000000,482349603,"Tom Hanks,Matt Damon,Tom Sizemore,Edward Burns...",Steven Spielberg,Robert Rodat
55,56,Indiana Jones and the Raiders of the Lost Ark,1981,8.4,"Action,Adventure",PG,1h 55m,Indiana Jones - the new hero from the creators...,18000000,389925971,"Harrison Ford,Karen Allen,Paul Freeman,John Rh...",Steven Spielberg,"Lawrence Kasdan,George Lucas,Philip Kaufman"
119,120,Indiana Jones and the Last Crusade,1989,8.2,"Action,Adventure",PG-13,2h 7m,He's back in an all new adventure. Memorial Da...,48000000,474171806,"Harrison Ford,Sean Connery,Alison Doody,Denhol...",Steven Spielberg,"Jeffrey Boam,George Lucas,Menno Meyjes"
143,144,Jurassic Park,1993,8.2,"Action,Adventure,Sci-Fi",PG-13,2h 7m,Life finds a way.,63000000,1109802321,"Sam Neill,Laura Dern,Jeff Goldblum,Richard Att...",Steven Spielberg,"Michael Crichton,David Koepp"
172,173,Catch Me If You Can,2002,8.1,"Biography,Crime,Drama",PG-13,2h 21m,The true story of a real fake.,Not Available,Not Available,"Leonardo DiCaprio,Tom Hanks,Christopher Walken...",Steven Spielberg,"Jeff Nathanson,Frank Abagnale Jr.,Stan Redding"
203,204,Jaws,1975,8.1,"Adventure,Thriller",PG,2h 4m,Amity Island had everything. Clear skies. Gent...,7000000,476512065,"Roy Scheider,Robert Shaw,Richard Dreyfuss,Lorr...",Steven Spielberg,"Peter Benchley,Carl Gottlieb"

In [85]:
df[df['year']==2022]

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
105,106,Top Gun: Maverick,2022,8.3,"Action,Drama",PG-13,2h 10m,Feel the need... The need for speed.,170000000,1488732821,"Tom Cruise,Jennifer Connelly,Miles Teller,Val ...",Joseph Kosinski,"Jim Cash,Jack Epps Jr.,Peter Craig"

In [88]:
df[df['directors']=='Steven Spielberg'][['rank', 'nome', 'year']]

     rank                                           nome  year
5       6                               Schindler's List  1993
23     24                            Saving Private Ryan  1998
55     56  Indiana Jones and the Raiders of the Lost Ark  1981
119   120             Indiana Jones and the Last Crusade  1989
143   144                                  Jurassic Park  1993
172   173                            Catch Me If You Can  2002
203   204                                           Jaws  1975

In [90]:
df[(df['directors']=='Steven Spielberg') | (df['directors']=='Christopher Nolan')][['rank', 'nome', 'year', 'directors']]

,rank,nome,year,directors
2,3,The Dark Knight,2008,Christopher Nolan
5,6,Schindler's List,1993,Steven Spielberg
13,14,Inception,2010,Christopher Nolan
23,24,Saving Private Ryan,1998,Steven Spielberg
24,25,Interstellar,2014,Christopher Nolan
40,41,The Prestige,2006,Christopher Nolan
53,54,Memento,2000,Christopher Nolan
55,56,Indiana Jones and the Raiders of the Lost Ark,1981,Steven Spielberg
68,69,The Dark Knight Rises,2012,Christopher Nolan
119,120,Indiana Jones and the Last Crusade,1989,Steven Spielberg
126,127,Batman Begins,2005,Christopher Nolan
143,144,Jurassic Park,1993,Steven Spielberg
172,173,Catch Me If You Can,2002,Steven Spielberg
203,204,Jaws,1975,Steven Spielberg

##LOC:

In [91]:
#todos os dados da linha 3
df.loc[3]

rank                                                           4
nome                                       The Godfather Part II
year                                                        1974
rating                                                       9.0
genre                                                Crime,Drama
certificate                                                    R
run_time                                                  3h 22m
tagline             All the power on earth can't change destiny.
budget                                                  13000000
box_office                                              47961919
casts          Al Pacino,Robert De Niro,Robert Duvall,Diane K...
directors                                   Francis Ford Coppola
writers                          Francis Ford Coppola,Mario Puzo
Name: 3, dtype: object

In [93]:
df.loc[0, 'nome']

'The Shawshank Redemption'

In [94]:
df.loc[:3]

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"

In [95]:
df.iloc[:10:2]

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
6,7,The Lord of the Rings: The Return of the King,2003,9.0,"Action,Adventure,Drama",PG-13,3h 21m,The eye of the enemy is moving.,94000000,1146457748,"Elijah Wood,Viggo Mortensen,Ian McKellen,Orlan...",Peter Jackson,"J.R.R. Tolkien,Fran Walsh,Philippa Boyens"
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,"Action,Adventure,Drama",PG-13,2h 58m,The Legend Comes to Life,93000000,898204420,"Elijah Wood,Ian McKellen,Orlando Bloom,Sean Be...",Peter Jackson,"J.R.R. Tolkien,Fran Walsh,Philippa Boyens"

In [96]:
#tras todos menos o terceiro, omite o terceiro
df.iloc[:3]

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"

##Contagem:

In [99]:
#Faz uma lista com todos os objetos daquela coluna de modo não-duplicado
df['year'].unique()

array([1994, 1972, 2008, 1974, 1957, 1993, 2003, 2001, 1966, 1999, 2002,
       2010, 1980, 1990, 1975, 1995, 1954, 1946, 1991, 1998, 2014, 1997,
       1977, 1985, 1960, 2019, 2000, 2006, 1942, 1988, 1962, 2011, 1936,
       1968, 1979, 1931, 2012, 1981, 1950, 1940, 2018, 1986, 1964, 2009,
       1984, 2017, 2016, 1952, 1963, 1983, 2004, 1992, 1941, 1959, 1958,
       1971, 1944, 1987, 2022, 2020, 1973, 1927, 1976, 1989, 1948, 2007,
       1965, 2005, 1921, 2013, 1961, 2021, 1982, 1939, 2015, 1996, 1925,
       1926, 1949, 1978, 1953, 1924, 1928, 1955, 1967, 1934])

In [100]:
#ordem crescente
df['year'].sort_values().unique()

array([1921, 1924, 1925, 1926, 1927, 1928, 1931, 1934, 1936, 1939, 1940,
       1941, 1942, 1944, 1946, 1948, 1949, 1950, 1952, 1953, 1954, 1955,
       1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967,
       1968, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [102]:
df['year'].value_counts()

1995    8
2004    7
2009    6
1957    6
2003    6
       ..
1941    1
1958    1
2022    1
1987    1
1934    1
Name: year, Length: 86, dtype: int64

In [103]:
#em porcentagem
df['year'].value_counts(normalize = True)

1995    0.032
2004    0.028
2009    0.024
1957    0.024
2003    0.024
        ...
1941    0.004
1958    0.004
2022    0.004
1987    0.004
1934    0.004
Name: year, Length: 86, dtype: float64

In [105]:
df.groupby('directors')['year'].unique().reset_index()

,directors,year
0,"Aamir Khan,Amole Gupte(uncredited)",[2007]
1,Adam Elliot,[2009]
2,Akira Kurosawa,"[1954, 1963, 1952, 1985, 1961, 1950, 1975]"
3,Alejandro G. Iñárritu,[2000]
4,Alfred Hitchcock,"[1960, 1954, 1959, 1958, 1940]"
...,...,...
155,William Friedkin,[1973]
156,William Wyler,"[1959, 1946]"
157,Wolfgang Petersen,[1981]
158,Yasujirô Ozu,[1953]
159,Çagan Irmak,[2005]

In [107]:
df.groupby('directors')['year'].count().reset_index()

                              directors  year
0    Aamir Khan,Amole Gupte(uncredited)     1
1                           Adam Elliot     1
2                        Akira Kurosawa     7
3                 Alejandro G. Iñárritu     1
4                      Alfred Hitchcock     6
..                                  ...   ...
155                    William Friedkin     1
156                       William Wyler     2
157                   Wolfgang Petersen     1
158                        Yasujirô Ozu     1
159                         Çagan Irmak     1

[160 rows x 2 columns]

In [108]:
df.groupby('directors')['year'].describe().reset_index()

,directors,count,mean,std,min,25%,50%,75%,max
0,"Aamir Khan,Amole Gupte(uncredited)",1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
1,Adam Elliot,1.0,2009.000000,NaN,2009.0,2009.00,2009.0,2009.00,2009.0
2,Akira Kurosawa,7.0,1962.857143,12.928374,1950.0,1953.00,1961.0,1969.00,1985.0
3,Alejandro G. Iñárritu,1.0,2000.000000,NaN,2000.0,2000.00,2000.0,2000.00,2000.0
4,Alfred Hitchcock,6.0,1954.166667,7.386925,1940.0,1954.00,1956.0,1958.75,1960.0
...,...,...,...,...,...,...,...,...,...
155,William Friedkin,1.0,1973.000000,NaN,1973.0,1973.00,1973.0,1973.00,1973.0
156,William Wyler,2.0,1952.500000,9.192388,1946.0,1949.25,1952.5,1955.75,1959.0
157,Wolfgang Petersen,1.0,1981.000000,NaN,1981.0,1981.00,1981.0,1981.00,1981.0
158,Yasujirô Ozu,1.0,1953.000000,NaN,1953.0,1953.00,1953.0,1953.00,1953.0
159,Çagan Irmak,1.0,2005.000000,NaN,2005.0,2005.00,2005.0,2005.00,2005.0

In [110]:
#Substitui o nan pelo que eu colocar no parênteses
df.fillna(299)

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [112]:
df.isnull().sum()

rank           0
nome           0
year           0
rating         0
genre          0
certificate    0
run_time       0
tagline        0
budget         0
box_office     0
casts          0
directors      0
writers        0
dtype: int64

In [114]:
df['directors'] = df['directors'].str.replace(' ','_')

In [115]:
df

,rank,nome,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank_Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis_Ford_Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher_Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis_Ford_Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney_Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate_Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira_Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron_Clements,John_Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard_Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin_Costner,Michael Blake